{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('index') }}" method="post">
    <div class="input-group mb-3">
      <input name="keywords" type="text" class="form-control border-dark" style="box-shadow: none;"
             placeholder="Enter python libraries to search..."{% if keywords %} value="{{ keywords|safe }}"{% endif %}>
      <div class="input-group-append">
        <button class="btn btn-outline-dark" type="submit" style="box-shadow: none;"><span
            class="oi oi-magnifying-glass"></span></button>
      </div>
    </div>
  </form>
  {%- block result %}{% endblock -%}
{% endblock %}